<!DOCTYPE html>
<html lang="zh-CN">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <style>
        nav {
            background: #f2f2f2;
            padding: 10px;
        }

        .container {
            margin: 20px auto;
            width: 80%;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>

<body>
    {% include 'includes/header.html' %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">退出登录</button>
    </form>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>